@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}
body{
    background-color: #AE2012;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(209,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23AE2012'/%3E%3Cstop offset='1' stop-color='%23BB3E03'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(165,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23CA6702' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CA6702' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(228,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23CA6702' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CA6702' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
html::-webkit-scrollbar {
    background-color: #f9f9fd;
}

    html::-webkit-scrollbar-thumb {
    background-color: #EE9B00;
    border-radius: 25px;
}

.loading{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #AE2012;
    z-index: -9999;
    opacity: 0;
    font-family: "Roboto";
}
.loading.animation{
    opacity: 1;
    z-index: 9999;
}
.logo-loading{
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -50%);
    width: 120px;
    -webkit-tap-highlight-color: transparent;
}
.title__loading-developers{
    position: relative;
    color: #FFF;
    top: 35%;
    font-size: 30px;
    transform: translateY(-50%);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title__loading-copyright{
    position: relative;
    color: #FFF;
    top: 53.5%;
    font-size: 30px;
    transform: translateY(-50%);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loader:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
}
.loader-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loader-block {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    background-color: #fff;
    box-shadow: 0 0 20px #fff;
    animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loader-block:nth-child(1) {
    animation-delay: 0.1s;
}
.loader-block:nth-child(2) {
    animation-delay: 0.2s;
}
.loader-block:nth-child(3) {
    animation-delay: 0.3s;
}
.loader-block:nth-child(4) {
    animation-delay: 0.4s;
}
.loader-block:nth-child(5) {
    animation-delay: 0.5s;
}
.loader-block:nth-child(6) {
    animation-delay: 0.6s;
}
.loader-block:nth-child(7) {
    animation-delay: 0.7s;
}
.loader-block:nth-child(8) {
    animation-delay: 0.8s;
}
@keyframes loader_562 {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    20% {
        transform: scale(1, 2.5);
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
    }
    40% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
}
.text__header-mobile{
    display: none;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header__label{
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.header__mobile{
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav{
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.logo{
    width: 80px;
    transition: 1.5s;
    -webkit-tap-highlight-color: transparent;
}
.logo:hover{
    transform: scale(1.06);
}
.header{
    display: flex;
    background-color: #AE2012;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.header > a{
    color: white;
    text-decoration: none;
    padding: 9px 13px;
    font-size: 17px;
    border-radius: 30px;
    transition: opacity 0.5s ease;
}
.header > a:hover{
    color: #E9D8A6;
}
.header:hover > :not(:hover){
    opacity: 0.4;
}
.i__title__home-box{
    position: absolute;
    display: flex;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
    align-items: center;
}
.i__title-home{
    color: #efeded;
}
.i__line-home{
    margin-left: 5px;
    width: 5px;
    height: 45px;
    background-color: #a9cdec;
    animation: jumpHome 0.3s alternate infinite;
}
@keyframes jumpHome{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main{
    display: grid;
    grid-column: center;
    opacity: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding: 20px 0 0 290px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 30px;
    -webkit-tap-highlight-color: transparent;
}
.box-main-1{
    width: 300px;
    height: 250px;
    text-align: center;
    transition: .5s;
}
.box-main-1:hover{
    transform: scale(1.01);
}
.box-main-2{
    width: 300px;
    height: 250px;
    text-align: center;
}
.box-main-3{
    width: 300px;
    height: 250px;
    text-align: center;
    grid-column: 1;
}
.box-main-4{
    width: 300px;
    height: 250px;
    text-align: center;
    grid-column: span 2;
}
.img-main-1{
    padding: 10px 0 0 0;
    width: 110px;
    height: 120px;
}
.img-main-2{
    padding: 10px 0 0 0;
    width: 250px;
}
.img-main-3{
    padding: 10px 0 0 0;
    width: 250px;
    height: 150px;
}
.img-main-4{
    padding: 10px 0 0 0;
    width: 250px;
}
.title-main-1{
    padding: 20px 0 0 0;
    color: #E9D8A6;
    font-family: 'Roboto';
    font-weight: 450;
}
.title-main-2{
    padding: 20px 0 0 0;
    color: #E9D8A6;
    font-family: 'Roboto';
    font-weight: 450;
}
.title-main-3{
    padding: 20px 0 0 0;
    color: #E9D8A6;
    font-family: 'Roboto';
    font-weight: 450;
}
.title-main-4{
    padding: 20px 0 0 0;
    color: #E9D8A6;
    font-family: 'Roboto';
    font-weight: 450;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #9b1104;
    margin-top: 230px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.description-footer{
    color: #EE9B00;
    font-family: 'Roboto';
    text-align: center;
    font-size: 17px;
    padding: 170px 0 0 0;
}


/* ADAPTIVE */


@media(max-width: 1300px){

    .footer{
        width: 800px;
        margin: 0 auto;
        margin-top: 230px;
        border-radius: 15px;
    }
    .i__title-home{
        font-size: 27px;
    }
    .main{
        padding: 20px 0 0 195px;
    }
}

@media(max-width: 1090px){
    .main {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0 0 165px;
    }
}
@media(max-width: 1006px){
    .i__title-home{
        font-size: 25px;
    }
    .main{
        padding: 20px 0 0 110px;
    }
}
@media(max-width: 999px){
    .i__title-home{
        font-size: 25px;
    }
    .main{
        padding: 20px 0 0 110px;
    }
}
@media(max-width: 937px){
    .i__title-home{
        font-size: 23px;
    }
    .main{
        padding: 20px 0 0 95px;
    }
}
@media(max-width: 862px){
    .i__title-home{
        font-size: 21px;
    }
    .main{
        padding: 20px 0 0 85px;
    }
}
@media(max-width: 830px){
    .footer{
        width: 500px;
        margin: 0 auto;
        margin-top: 230px;
        border-radius: 15px;
    }
    .i__title-home{
        font-size: 20px;
    }
    .main{
        padding: 20px 0 0 50px;
    }
}
@media(max-width: 808px){
    .header > a{
        font-size: 15px;
    }
}
@media(max-width: 800px){
    .i__title-home{
        font-size: 20px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0 0 30px;
    }
}
@media(max-width: 768px){
    .header{
        display: none;
    }
    .i__title__home-box{
        top: 7%;
    }
    .i__title-home{
        font-size: 20px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        padding: 120px 0 0 30px;
    }
    .text__header-mobile{
        position: fixed;
        color: #FFF;
        display: block;
        z-index: 10001;
        top: 10px;
        left: 3.25%;
    }
    .header__label{
        position: fixed;
        display: block;
        width: 44px;
        height: 50px;
        cursor: pointer;
        z-index: 10001;
        top: 25px;
        left: 3%;
    }
    .mobile-line{
        position: absolute;
        top: 50%;
        width: 100%;
        height: 3.5px;
        background-color: #c2fbd7;
        transition: 0.5s;
        z-index: 1;
    }
    .mobile-line::after {
        position: absolute;
        content: '';
        top: 12px;
        background-color: #c2fbd7;
        width: 100%;
        height: 3.5px;
    }
    .mobile-line::before {
        position: absolute;
        content: '';
        bottom: 13px;
        background-color: #c2fbd7;
        width: 100%;
        height: 3px;
    }
    .header__mobile[type="checkbox"]:checked ~ .header__label .mobile-line {
        transform: rotate(-45deg);
    }
    .header__mobile[type="checkbox"]:checked ~ .header__label .mobile-line::after {
        transform: rotate(0deg);
        top: 0;
    }
    .header__mobile[type="checkbox"]:checked ~ .header__label .mobile-line::before {
        transform: rotate(90deg);
        top: 0;
    }
    .header__mobile[type="checkbox"]:checked ~ .nav{
        position: fixed;
        display: flex;
        opacity: 1;
        flex-direction: column;
        width: 100%;
        height: 120vh;
        background-color: #9B2226;
        z-index: 10000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
    }
    .menu{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 110px;
    }
    .nav > .menu > a{
        padding: 6px;
        color: #E9D8A6;
        font-size: 30px;
        text-decoration: none;
        text-decoration-style: none;
    }
    .nav > .menu > a:hover{
        color: #FFF;
    }
    .logo-menu{
        position: relative;
        transform: scale(1);
        width: 130px;
        transition: 1.5s;
        -webkit-tap-highlight-color: transparent;
        top: -20px;
    }
    .logo-menu:hover{
        transform: scale(1.04);
    }
}
@media(max-width: 745px){
    .main{
        padding: 120px 0 0 80px;
        gap: 60px;
    }
    .box-main-1{
        width: 200px;
        height: 150px;
    }
    .box-main-2{
        width: 200px;
        height: 150px;
    }
    .box-main-3{
        width: 200px;
        height: 150px;
    }
    .box-main-4{
        width: 200px;
        height: 150px;
    }
    .img-main-1{
        padding: 10px 0 0 0;
        width: 200px;
    }
    .img-main-2{
        padding: 10px 0 0 0;
        width: 200px;
    }
    .img-main-3{
        padding: 10px 0 0 0;
        width: 200px;
    }
    .img-main-4{
        padding: 10px 0 0 0;
        width: 200px;
    }
    .title-main-1{
        padding: 20px 0 0 0;
    }
    .title-main-2{
        padding: 20px 0 0 0;
    }
    .title-main-3{
        padding: 20px 0 0 0;
    }
    .title-main-4{
        padding: 20px 0 0 0;
    }
    .footer{
        margin-top: 310px;
    }
}
@media(max-width: 677px){
    .main{
        padding: 140px 0 0 80px;
        gap: 60px;
        z-index: 10;
    }
    .box-main-1{
        width: 175px;
        height: 125px;
    }
    .box-main-2{
        width: 175px;
        height: 125px;
    }
    .box-main-3{
        width: 175px;
        height: 125px;
    }
    .box-main-4{
        width: 175px;
        height: 125px;
    }
    .img-main-1{
        padding: 10px 0 0 0;
        width: 175px;
    }
    .img-main-2{
        padding: 10px 0 0 0;
        width: 175px;
    }
    .img-main-3{
        padding: 10px 0 0 0;
        width: 175px;
    }
    .img-main-4{
        padding: 10px 0 0 0;
        width: 175px;
    }
    .footer{
        z-index: -10;
    }
}
@media(max-width: 575px){
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 0 20px;
        flex-direction: column;
    }
    .box-main-1{
        width: 200px;
        height: 150px;
    }
    .box-main-2{
        width: 200px;
        height: 150px;
    }
    .box-main-3{
        width: 200px;
        height: 150px;
    }
    .box-main-4{
        width: 200px;
        height: 150px;
    }
    .img-main-1{
        padding: 10px 0 0 0;
        width: 180px;
    }
    .img-main-2{
        padding: 10px 0 0 0;
        width: 180px;
    }
    .img-main-3{
        padding: 10px 0 0 0;
        width: 180px;
    }
    .img-main-4{
        padding: 10px 0 0 0;
        width: 180px;
    }
    .footer{
        width: 350px;
        margin: 0 auto;
        margin-top: 230px;
        border-radius: 15px;
    }
    .description-footer{
        font-size: 13px;
    }
}
@media(max-width: 449px){
    .title__loading-developers{
        top: 39.5%;
        font-size: 24px;
    }
    .title__loading-copyright{
        top: 53%;
        font-size: 24px;
    }
    .loader{
        top: 50%;
    }
    .logo-loading{
        top: 22%;
    }
}
@media(max-width: 395px){
    .footer{
        width: 250px;
        height: 200px;
    }
    .description-footer{
        font-size: 10px;
        padding: 115px 0 0 0;
    }
}
@media(max-width: 369px){
    .title__loading-developers{
        top: 39.5%;
        font-size: 20px;
    }
    .title__loading-copyright{
        top: 53%;
        font-size: 20px;
    }
    .loader{
        top: 50%;
    }
}
@media(max-width: 310px){
    .title__loading-developers{
        top: 39.5%;
        font-size: 19px;
    }
    .title__loading-copyright{
        top: 53%;
        font-size: 19px;
    }
    .loader{
        top: 50%;
    }
}
